* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  position: relative;
}

body,
.navbar-brand {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}

.navbar {
  margin: 0 auto;
  background-color: transparent;
  z-index: 9;
}

.nav-link,
.navbar-brand {
  color: white;
}

.name {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 36px;
  z-index: 9;
  mix-blend-mode: overlay;
  text-shadow: 8px 8px 10px black;
}

.banner {
  width: 100%;
  height: 350px;
  background: linear-gradient(45deg, #2F1C53, #A46DFF, #F6D1FD);
  position: absolute;
  top: 0;
  transform: skewY(-10deg);
  transform-origin: 0;
}

.banner2 {
  width: 100%;
  height: 150px;
  background: linear-gradient(45deg, #2F1C53, #A46DFF, #F6D1FD);
  position: absolute;
  top: 0;
  transform: skewY(10deg);
  transform-origin: 0;
  z-index: -1;
}


.main {
  margin-top: 5%;
}

.caption-landing {
  color: white;
  font-weight: normal;
  z-index: 9;
}

.rounded {
  box-shadow: 4px 4px 10px black;
}

.team-name {
  color: #2F1C53;
}

@media (min-width: 1280px) {
  .navbar {
    width: 69%;
  }

  .name {
    font-size: 60px;
  }
}

@media (min-width: 800px) {
  .banner {
    height: 650px;
  }

  .banner2 {
    height: 350px;
  }
}
