* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  position: relative;
  overflow: hidden;
}

body,
.navbar-brand {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}

.navbar {
  margin: 0 auto;
  z-index: 9;
  background: linear-gradient(45deg, #2F1C53, #A46DFF, #F6D1FD);
}

.nav-link,
.navbar-brand {
  color: white;
}

.name-wufo {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  text-shadow: -3px 3px 5px #A46DFF;
}

.main {
  margin-top: 6%;
}

.caption-landing {
  color: white;
  font-weight: normal;
  z-index: 9;
}

.team-name {
  color: #2F1C85;
  transition: 0.3s ease-in-out;
}

.team-name:hover {
  color: #A46DFF;
  text-decoration: none;
}

.nav-link, .navbar-brand {
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.nav-link:hover, .navbar-brand:hover {
  color: #fbff6b;
  text-decoration: none;
}

@media (min-width: 1280px) {
  .nav-container {
    margin: 0 20%;
  }

  .name {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .banner {
    height: 54.5%;
  }
}

@media (max-width: 767px) {
  .caption-landing {
    font-size: 18px;
  }
}
